In [4]:
#testDateTime.ipynb
from datetime import datetime

now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2022-04-29 14:53:21.370604
2022-04-29 14:53:21.370604

In [5]:
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)
print(t1)
print(t2)
print(t3)

2022-04-29 14:54:44.049784
1970-01-01 00:00:00
1970-12-12 13:24:34

In [8]:
from datetime import *

diff1 = t1 - t2
print(diff1)
print(type(diff1))
print(t1 + timedelta(days=100))

19111 days, 14:54:44.049784
<class 'datetime.timedelta'>
2022-08-07 14:54:44.049784

In [13]:
import os
import pandas as pd 

ebola = pd.read_csv("c:\\work2\\country_timeseries.csv")
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.3+ KB
None

In [12]:
ebola['date_dt'] = pd.to_datetime(ebola['Date'])
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
 18  date_dt              122 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB
None

In [14]:
now = datetime.now()
print(now)

nowDate = now.strftime("%Y-%m-%d")
print(nowDate)

2022-04-29 15:05:27.670419
2022-04-29

In [17]:
import quandl
import pandas as pd 

#미국은 티커(AAPL, MSFT, TSLA)
aapl = pd.DataFrame(quandl.get('WIKI/AAPL'))
print(aapl.head())


#tesla에 저장된 데이터프레임을 파일로 저장한다.
aapl.to_csv('c:\\work2\\aapl_stock_quandl.csv')

             Open   High    Low  Close     Volume  Ex-Dividend  Split Ratio  \
Date
1980-12-12  28.75  28.87  28.75  28.75  2093900.0          0.0          1.0
1980-12-15  27.38  27.38  27.25  27.25   785200.0          0.0          1.0
1980-12-16  25.37  25.37  25.25  25.25   472000.0          0.0          1.0
1980-12-17  25.87  26.00  25.87  25.87   385900.0          0.0          1.0
1980-12-18  26.63  26.75  26.63  26.63   327900.0          0.0          1.0

            Adj. Open  Adj. High  Adj. Low  Adj. Close  Adj. Volume
Date
1980-12-12   0.422706   0.424470  0.422706    0.422706  117258400.0
1980-12-15   0.402563   0.402563  0.400652    0.400652   43971200.0
1980-12-16   0.373010   0.373010  0.371246    0.371246   26432000.0
1980-12-17   0.380362   0.382273  0.380362    0.380362   21610400.0
1980-12-18   0.391536   0.393300  0.391536    0.391536   18362400.0