In [91]:
#5-2 데이터 연결 기초
import pandas as pd 

df1 = pd.read_csv('c:\\work\\concat_1.csv')
df2 = pd.read_csv('c:\\work\\concat_2.csv')
df3 = pd.read_csv('c:\\work\\concat_3.csv')

In [92]:
#concat메서드는 데이터프레임을 연결할 때 위에서 
#아래방향으로 연결한다. 
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [93]:
#연결한 데이터프레임에서 행 데이터를 추출해본다.
#다음은 데이터프레임에서 네번째 행을 추출한 것이다.
print(row_concat.iloc[3,])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [94]:
#데이터프레임에 시리즈 연결하기
#이번에는 데이터프레임에 시리즈를 추가한다. 
#먼저 리스트를 시리즈로 변환한다.
new_row_series = pd.Series(['n1','n2','n3','n4'])

In [95]:
#concat메서드로 데이터프레임과 시리즈를 연결해 본다. 
#시리즈가 새로운 행으로 추가될 것 같죠? 
#하지만 행이 아니라 시리즈는 새로운 열로 추가한다. 그래서 NaN이라는 값도 많이 
#생겼다. NaN은 누락값이다.
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [96]:
#행이 1개라도 반드시 데이터프레임이 담아 연결해야 한다. 
#시리즈는 행이 1개인 데이터프레임이라고 생각해도 된다. 
#다음은 1개의 행을 가지는 데이터프레임을 생성하여 df1에 연결한 것이다.
new_row_df = pd.DataFrame([['n1','n2','n3','n4']],
    columns=['A','B','C','D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [97]:
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [98]:
#concat메서드는 한번에 2개 이상의 데이터프레임을 연결할 수 있는 메서드이다.
#만약 연결한 데이터프레임이 1개라면 append메서드를 사용해도 된다. 
print(df1.append(new_row_df))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

C:\Users\lee\AppData\Local\Temp\ipykernel_11636\100693829.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(new_row_df))

In [99]:
#append메서드와 딕셔너리를 사용하면 더욱 간편하게 행을 연결할 수 있다. 
#이때 ignore_index를 True로 지정하면 인덱스를 다시 설정한다.
data_dict = {'A':'n1', 'B':'n2', 'C':'n3', 'D':'n4'}
print(df1.append(data_dict, ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

C:\Users\lee\AppData\Local\Temp\ipykernel_11636\2189997302.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(data_dict, ignore_index=True))

In [100]:
#다양한 방법으로 데이터 연결하기 
#ignore_index인자 사용하기
row_concat_i = pd.concat([df1,df2,df3], ignore_index=True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [101]:
#열 방향으로 데이터 연결하기 
#만약 행 방향이 아니라 열 방향으로 데이터를 연결하려면 어떻게 해야 하나요?
#concat메서드의 axis인자를 1로 지정하면 된다. 
#다음은 df1,df2,df3을 열방향으로 연결한 것이다. 
#axis의 기본값은 0이다. 
col_concat = pd.concat([df1,df2,df3], axis=1)
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [102]:
#만약 같은 열 이름이 있는 데이터프레임에서 
#열이름으로 데이터를 추출하면 해당 열 이름의 데이터를
#모두 추출한다.
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [103]:
#다음과 같이 입력하면 간편하게 새로운 열을 추가할 수도 있다.
col_concat['new_col_list'] = ['n1','n2','n3','n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [104]:
#위의 과정에서 데이터프레임의 열 이름을 유지한 채 연결했기 때문에
#열 이름이 중복되었다. 다음은 ignore_index를 True로 지정하여
#열 이름을 다시 지정한 것이다.
print(pd.concat([df1,df2,df3], axis=1, ignore_index=True))

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [105]:
#공통열과 공통인덱스만 연결하기
#만약 열 이름의 일부가 서로 다른 데이터프레임을 연결하면 어떻게 될까?
#앞에서 사용한 df1,df2,df3의 열 이름을 다시 지정한다. 
df1.columns = ['A','B','C','D']
df2.columns = ['E','F','G','H']
df3.columns = ['A','C','F','H']
print(df1)
print(type(df1))

print(df2)
print(type(df2))

print(df3)
print(type(df3))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
<class 'pandas.core.frame.DataFrame'>
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
<class 'pandas.core.frame.DataFrame'>
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
<class 'pandas.core.frame.DataFrame'>

In [106]:
#새롭게 열 이름을 부여한 데이터프레임 3개를 concat메셔드로 연결한다.
#이렇게 하면 열 이름이 정렬되며 연결된다. 
#그리고 데이터프레임에 없는 열 이름의 데이터는 누락값으로 처리된다. 
#누락값 없이 데이터를 연결하는 방법은 없을까? 
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [107]:
#데이터프레임의 공통 열만 골라 연결하면 누락값이 생기지 않는다. 
#공통 열만 골라서 연결하려면 join인자를 inner로 지정해야 한다. 
#아쉽게도 df1,df2,df3은 공통열이 없다. 
#따라서 세 데이터프레임의 공통 열을 연결한 결과값으로 Empty DataFrame
#이 출력된다. 
print(pd.concat([df1,df2,df3], join='inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [108]:
#df1, df3의 공통 열만 골라 연결해 본다.
#그러면 공통 열인 A와 C만 연결된다. 
print(pd.concat([df1,df3], ignore_index=False, join='inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [109]:
#이번에는 데이터프레임을 행 방향으로 연결해 본다.
#df1,df2,df3의 인덱스를 다시 지정해 본다.
df1.index = [0,1,2,3]
df2.index = [4,5,6,7]
df3.index = [0,2,5,7]

print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [110]:
#concat메서드로 df1,df2,df3을 열 방향으로 연결하면 앞의 과정과
#비슷한 결과가 출력된다. 
col_concat = pd.concat([df1,df2,df3], axis=1)
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [111]:
#앞의 과정과 비슷한 방법으로 df1, df3의 공통 행만 골라서 연결해 본다.
#그러면 공통행인 0과 2만 출력된다.
print(pd.concat([df1,df3], axis=1, join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

In [112]:
#외부 조인과 내부 조인
#내부조인: 둘 이상의 데이터프레임에서 조건에 맞는 행을 연결하는 것
#외부조인: 두 데이터프레임에서 어떤 데이터프레임을 기준으로 할 것인지에
#따라 왼쪽 외부 조인(Left Outer Join)과 오른쪽 외부 조인(Right Outer Join)
#완전 외부 조인(Full Outer Join)으로 나눌 수 있다. 
#왼쪽 외부 조인은 왼쪽 데이터프레임을 모두 포함하여 연결하는 것이고
#오른쪽 외부 조인은 오른쪽 데이터프레임을 모두 포함하여 연결하는 것이다.
#완전 외부 조인은 왼쪽과 오른쪽 데이터프레임을 모두 포함하여 연결한다.

In [113]:
#데이터 연결 마무리
#판다스는 데이터 연결 전용 메서드인 merge를 제공한다. 
#다음은 특정 위치의 날씨 정보에 필요한 데이터 집합을 모두 불러온 것이다.
#person은 관측한 사람의 이름, site는 관측 위치, visited는 관측 날짜,
#survey는 날씨 정보이다. 
person = pd.read_csv('c:\\work\\survey_person.csv')
site = pd.read_csv('c:\\work\\survey_site.csv')
survey = pd.read_csv('c:\\work\\survey_survey.csv')
visited = pd.read_csv('c:\\work\\survey_visited.csv')
print(person)
print(site)
print(visited)
print(survey)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [114]:
#visited데이터프레임의 일부 데이터만 떼어 실습에 사용한다.
visited_subset = visited.loc[[0,2,6],]

In [115]:
#merge메서드는 기본적으로 내부 조인을 실행하며 메서드를 사용한
#데이터프레임(site)를 왼쪽으로 지정하고 첫번째 인자값으로 
#지정한 데이터프레임(visited_subset)을 오른쪽으로 지정한다.
#left_on, right_on인자는 값이 일치해야 할 왼쪽과 오른쪽 
#데이터프레임의 열을 지정한다. 즉, 왼쪽 데이터프레임(site)의 열(name)과
#오른쪽 데이터프레임(visited)의 열(site)의 값이 일치하면 
#왼쪽 데이터프레임을 기준으로 연결한다. 
o2o_merge = site.merge(visited_subset, left_on='name', right_on='site')
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [116]:
#다음은 site, visited데이터프레임을 이용하여 데이터를 연결한 것이다.
m2o_merge = site.merge(visited, left_on='name', right_on='site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [117]:
#다른 데이터프레임도 연결해 본다.
#다음은 person, survey데이터프레임과 visited, 
#survey데이터프레임을 merge메서드로 연결한 것이다.
ps = person.merge(survey, left_on='ident', right_on='person')
vs = visited.merge(survey, left_on='ident', right_on='taken')
print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [118]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [119]:
#left_on, right_on에 전달하는 값은 여러 개라도 상관이 없다.
#다음과 같이 여러 개의 열 이름을 리스트에 담아 전달해도 된다. 
#다음은 ps데이터프레임의 ident, taken, quant, reading열의 값과 
#vs데이터프레임의 person, ident, quant, reading열의 값을 
#이용하여 ps와 vs데이터프레임을 서로 연결한 것이다.
ps_vs = ps.merge(vs, left_on=['ident','taken','quant','reading'],
    right_on=['person','ident','quant','reading'])
print(ps_vs.loc[0, ])

ident_x           dyer
personal       William
family            Dyer
taken_x            619
person_x          dyer
quant              rad
reading           9.82
ident_y            619
site              DR-1
dated       1927-02-08
taken_y            619
person_y          dyer
Name: 0, dtype: object

In [120]:
ps_vs

,ident_x,personal,family,taken_x,person_x,quant,reading,ident_y,site,dated,taken_y,person_y
0,dyer,William,Dyer,619,dyer,rad,9.82,619,DR-1,1927-02-08,619,dyer
1,dyer,William,Dyer,619,dyer,sal,0.13,619,DR-1,1927-02-08,619,dyer
2,dyer,William,Dyer,622,dyer,rad,7.80,622,DR-1,1927-02-10,622,dyer
3,dyer,William,Dyer,622,dyer,sal,0.09,622,DR-1,1927-02-10,622,dyer
4,pb,Frank,Pabodie,734,pb,rad,8.41,734,DR-3,1939-01-07,734,pb
5,pb,Frank,Pabodie,734,pb,temp,-21.50,734,DR-3,1939-01-07,734,pb
6,pb,Frank,Pabodie,735,pb,rad,7.22,735,DR-3,1930-01-12,735,pb
7,pb,Frank,Pabodie,751,pb,rad,4.35,751,DR-3,1930-02-26,751,pb
8,pb,Frank,Pabodie,751,pb,temp,-18.50,751,DR-3,1930-02-26,751,pb
9,lake,Anderson,Lake,734,lake,sal,0.05,734,DR-3,1939-01-07,734,lake
10,lake,Anderson,Lake,751,lake,sal,0.10,751,DR-3,1930-02-26,751,lake
11,lake,Anderson,Lake,752,lake,rad,2.19,752,DR-3,NaN,752,lake
12,lake,Anderson,Lake,752,lake,sal,0.09,752,DR-3,NaN,752,lake
13,lake,Anderson,Lake,752,lake,temp,-16.00,752,DR-3,NaN,752,lake
14,lake,Anderson,Lake,837,lake,rad,1.46,837,MSK-4,1932-01-14,837,lake
15,lake,Anderson,Lake,837,lake,sal,0.21,837,MSK-4,1932-01-14,837,lake
16,roe,Valentina,Roerich,752,roe,sal,41.60,752,DR-3,NaN,752,roe
17,roe,Valentina,Roerich,837,roe,sal,22.50,837,MSK-4,1932-01-14,837,roe
18,roe,Valentina,Roerich,844,roe,rad,11.25,844,DR-1,1932-03-22,844,roe

In [121]:
#6-1 누락값이란?
#누락값은 NaN, NAN, nan과 같은 방법으로 표기한다. 
#먼저 누락값을 사용하기 위해 numpy에서 누락값을 불러온다.
from numpy import NaN, NAN, nan

In [122]:
#누락값은 0, ''와 같은 값과는 다른 개념이다. 
#누락값은 말 그대로 데이터 자체가 없다는 것을 의미한다. 
print(NaN == True)
print(NaN == False)
print(NaN == 0)
print(NaN == '')

False
False
False
False

In [123]:
#누락값은 값 자체가 없기 때문에 
#자기 자신과 비교해도 False가 출력된다.
print(NaN == NaN)
print(NaN == nan)
print(NaN == NAN)
print(nan == NAN)

False
False
False
False

In [124]:
#그러면 누락값을 어떻게 확인할 수 있을까?
#다행히 판다스에는 누락값을 확인하는 isnull메서드가 있다.
import pandas as pd 

print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))

True
True
True

In [125]:
#누락값이 아닌 경우?
print(pd.notnull(NaN))
print(pd.notnull(42))
print(pd.notnull('missing'))

False
True
True

In [126]:
#누락값이 생기는 이유
#누락값이 있는 데이터 집합을 연결할 때 누락값이 생기는 경우
visited = pd.read_csv("c:\\work\\survey_visited.csv")
survey = pd.read_csv("c:\\work\\survey_survey.csv")
print(visited)
print(survey)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [127]:
#앞에서 만든 데이터집합을 연결해 볼까요? 
#그러면 누락값이 많이 생겨난다. 
vs = visited.merge(survey, left_on='ident', right_on='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [128]:
#데이터를 입력할 때 누락값이 생기는 경우
#누락값은 데이터를 잘못 입력하여 생길 수도 있다. 
#다음은 시리즈를 생성할 때 데이터프레임에 없는 열과 행 데이터를 
#입력하여 누락값이 생긴 것이다. 
num_legs = pd.Series({'goat':4, 'amoeba':nan})
print(num_legs)
print(type(num_legs))

scientists = pd.DataFrame({
    'Name':['Rosaline Franklin', 'William Gosset'],
    'Occupation':['Chemist', 'Statistician'],
    'Born':['1920-07-25','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'missing':[NaN,nan]
})

print(scientists)
print(type(scientists))

goat      4.0
amoeba    NaN
dtype: float64
<class 'pandas.core.series.Series'>
                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN
<class 'pandas.core.frame.DataFrame'>

In [129]:
#범위를 지정하여 데이터를 추출할 때 누락값이 생기는 경우
gapminder = pd.read_csv('c:\\work\\gapminder.tsv', sep='\t')

In [130]:
#연도별로 그룹화한 다음 lifeExp열의 평균을 구한다.
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [131]:
#다음은 range메서드를 이용하여 life_Exp열에서 2000~2009년 데이터를 추출한다. 
#그런데 이렇게 데이터를 추출하면 없었던 연도가 포함되기 때문에 누락값이 많이 발생한다.
#print(life_exp.loc[range(2000,2010), ])|

In [132]:
#앞에서 발생한 문제를 해결하기 위해서 불린 추출을 이용하여 
#데이터를 추출하면 된다. 
y2000 = life_exp[life_exp.index > 2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [133]:
#누락값의 개수
ebola = pd.read_csv('c:\\work\\country_timeseries.csv')

In [134]:
#먼저 count메서드로 누락값이 아닌 개수를 구해본다. 
print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [135]:
#shape[0]에 전체 행의 데이터 개수가 저장되어 있다는 점을 
#이용하여 shape[0]에서 누락값이 아닌 값의 개수를 빼면 
#누락값의 개수를 구할 수 있다.
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [136]:
#count_nonzero, isnull메서드를 조합해도 누락값의 개수를 구할 수 있다.
#count_nonzero메서는 배열에서 0이 아닌 값의 개수를 세는 메서드이다.
import numpy as np

print(np.count_nonzero(ebola.isnull()))
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

1214
29

In [137]:
#시리즈에 포함된 value_counts메서드는 지정한 열의 빈도를 구하는 메서드이다.
#value_counts메서드를 사용해 Cases_Guinea열의 누락값 개수를 구하려면 
#다음과 같이 입력한다.
print(ebola.Cases_Guinea.value_counts(dropna=False).head())

NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: Cases_Guinea, dtype: int64

In [138]:
#누락값 처리하기 
#데이터프레임에 포함된 fillna메서드에 0을 대입하면 누락값을 0으로 변경한다.
#fillna메서드는 처리해야 하는 데이터프레임의 크기가 매우 크고 메모리를 
#효율적으로 사용해야 하는 경우에 자주 사용하는 메서드이다.
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [139]:
#fillna메서드의 method인자값을 ffill로 지정하면 누락값이 나타나기 전의 값으로
#누락값이 변경된다. 예를 들어 6행의 누락값은 누락값이 나타나기 전의 값인 5행의
#값을 사용하여 누락값을 처리한다. 하지만 0,1행은 처음부터 누락값이기 때문에 
#누락값이 그대로 남아 있다.
print(ebola.fillna(method='ffill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [140]:
#method인자값을 bfil로 지정하면 누락값이 나타난 이후의 첫번째 값으로
#앞쪽의 누락값이 모두 변경된다. 즉 앞의 과정의 반대 방향으로 누락값을 처리한다고
#생각하면 된다. 하지만 이 방법도 마지막 값이 누락값인 경우에는 처리하지 
#못한다는 단점이 있다.
print(ebola.fillna(method='bfill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [141]:
#interpolate메서드는 누락값 양쪽에 있는 값을 이용하여 
#중간값을 구한 다음 누락값을 처리한다. 이렇게 하면 데이터프레임이
#일정한 간격을 유지하고 있는 것처럼 수정할 수 있다.
print(ebola.interpolate().iloc[0:10,0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [142]:
#누락값 삭제하기
#누락값이 필요 없을 경우에는 누락값을 삭제해도 된다. 
print(ebola.shape)

(122, 18)

In [143]:
#누락값을 삭제하기 위해 dropna메서드를 사용한다. 
#누락값이 포함된 행이 모두 삭제되기 때문에 많은 데이터가 삭제된다.
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)

(1, 18)

In [144]:
print(ebola_dropna)

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

In [145]:
#누락값이 포함된 데이터 계산하기 
#Guinea, Liberia, SierraLeone열에는 누락값이 존재한다 
#만약 누락값이 존재하는 Guinea, Liberia, SierraLeone열을 가지고 
#ebola발병 수의 합을 계산하면 어떻게 될까? 
#다음은 Cases_Guinea, Cases_Liberia, Cases_SierraLeone열을 더하여
#Cases_multiple열을 새로 만든 것이다.
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + \
ebola['Cases_SierraLeone']

In [146]:
#누락값이 하나라도 있는 행은 계산결과(Cases_multiple)가
#NaN이 되었음을 알 수 있다.
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', \
    'Cases_SierraLeone', 'Cases_multiple']]
print(ebola_subset.head(n=10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

In [147]:
#Cases_multiple열을 sum메서드를 사용해 더하면 세 지역의 
#ebola발병 수의 합을 구할 수 있다. 
#이때 sum메서드를 그냥 하용하면 누락값을 포함해 계산한다. 
#따라서 결과값도 누락값이 된다. 누락값을 무시한 채 계산하려면
#skipna인자값을 True로 설정하면 된다.
print(ebola.Cases_Guinea.sum(skipna=True))
print(ebola.Cases_Guinea.sum(skipna=False))

84729.0
nan

In [148]:
#melt메서드 사용하기
#1개의 열만 고정하고 나머지 열을 행으로 바꾸기
#이번에 사용할 데이터집합은 퓨 리서치 센터에서 조사한 
#'무국의 소득과 종교'라는 데이터이다. 
#이 데이터프레임에는 11개의 열이 있다. 
import pandas as pd 
pew = pd.read_csv('c:\\work\\pew.csv')
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [149]:
#6개의 열만 출력해 본다. 그러면 종교와 소득 정보가 출력된다. 
#하지 이 상태는 소득 정보($10K,$10-20K...)가 열을 구성하고 있따. 
#만약 소득 정보 열을 행 데이터로 옮기고 싶다면 어떻게 해야 하나? 
print(pew.iloc[:, 0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [150]:
#id_vars인자값으로 지정한 열(religion)을 제외한 나머지 소득 정보열
#($10k,$10-20K...)이 variable열로 정리되고 소득 정도 열의 행 데이터도
#value열로 정리되었따. 바로 이 과정을 'religion'열을 고정하여 피벗했다'
#라고 말한다. 
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long.head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [151]:
#그러면 variable, value열의 열 이름은 어떻게 바꿀 수 있나?
#var_name, value_name인자값을 사용하면 된다. 
#다음은 variable, value라는 열 이름을 income, count로 재설정한 코드이다.
pew_long = pd.melt(pew, id_vars='religion', var_name='income',
    value_name='count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [152]:
#2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기 
#다음은 빌보드 차트의 데이터 집합을 불러온 다음 데잍를 확인한 것이다. 
billboard = pd.read_csv('c:\\work\\billboard.csv')
print(billboard.iloc[0:5, 0:16])

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [153]:
#다음은 year, artist, track, time, date.entered열을 모두 고정하고
#나머지 열(wk1, wk1...)을 피벗한 것이다.
billboard_long = pd.melt(billboard, id_vars=['year','artist',
    'track','time','date.entered'], var_name='week', value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [154]:
#7-2 열 이름 관리하기 
#어떤 열은 여러 가지 의미를 가지고 있을 수 있따. 
#예를 들어 ebola데이터 집합의 열중 하나인 Deaths_Guinea는 
#'사명자 수'와 '나라 이름'을 합쳐 만든 이름이다. 
#다음은 ebola데이터를 불러온 다음 0,1,2,3,10,11열의 5개 데이터만 
#확인한 것이다.
ebola = pd.read_csv('c:\\work\\country_timeseries.csv')
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [155]:
print(ebola.iloc[:5, [0,1,2,3,10,11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [156]:
#일단 Date와 Day를 고정하고 나머지를 행으로 피벗한다. 
#그러면 각 나라별 사망자 수를 행으로 볼 수 있어 편리하다. 
#열 이름(Cases_Guinea,...)을 분리하는 바로 다음 실습에서 진행한다.
ebola_long = pd.melt(ebola, id_vars=['Date','Day'])
print(ebola_long.head())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [157]:
#split메서드로 열 이름 분리하기
#Cases_Guinea와 같이 2개 이상의 의미를 가지고 있는 열 이름은 
#밑줄을 기준으로 Cases, Guinea와 같은 방법으로 분리할 수 있따. 
variable_split = ebola_long.variable.str.split("_")
print(variable_split[:5])

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [158]:
#이때 variable_split에 저장된 값의 자료형은 시리즈이고 각각의 시리즈에 
#저장된 값(열이름)의 자료형은 리스트이다.
print(type(variable_split))
print(type(variable_split[0]))

<class 'pandas.core.series.Series'>
<class 'list'>

In [159]:
#이때 앞의 과정에서 구한 리스트의 0번째 인덱스에 담긴 문자열은 발병(Cases)
#과 죽음(Deaths)같은 상태를 의미하고 1번째 인덱스에 담긴 문자열은 나라 이름을
#의미한다. 이제 이 문자열을 분리하여 데이터프레임의 새로운 열로 추가하면 된다.
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)
print(status_values[:5])
print(status_values[-5:])
print(country_values[:5])
print(country_values[-5:])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [160]:
#앞에서 분리한 문자열을 status, country라는 열 이름으로
#데이터프레임에 추가한 코드이다.
ebola_long['status'] = status_values
ebola_long['country'] = country_values
print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [161]:
#concat메서드로 데이터프레임에 열 추가하기
#concat메서드를 화룡ㅇ하면 split메서드로 분리한 데이터를 
#바로 데이터프레임에 추가할 수 있다. 
#다음은 바로 앞에서 실습한 내용을 concat메서드로 바꿔 실행한 것이다.
variable_split = ebola_long.variable.str.split('_', expand=True)
variable_split.columns = ['status', 'country']
ebola_parsed = pd.concat([ebola_long, variable_split], axis=1)

print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

In [162]:
#7-3 여러 열을 하나로 정리하기
#보통 데이터프레임의 열은 파이썬의 변수와 같은 개념으로 사용한다.
#기상 데이터의 여러 열을 하나로 정리하기 - melt, pivot_table메서드
#다음은 기상 데이터를 불러와 출력한 것이다. 날짜 열(d1,...d31)에는
#각 월별 최고, 최저 온도 데이터가 저장되어 있따. 
#지금은 날짜 열이 옆으로 길게 늘어져 있어 보기 불편하다. 
weather = pd.read_csv("c:\\work\\weather.csv")
print(weather.iloc[:5, :])

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [163]:
#다음은 melt메서드로 일별 온도 축정값(d1,d2,...)을 피벗한 것이다.
#그러면 day열에 날짜 열이 정리되고 날짜 열의 데이터는 temp열에 정리된다. 
weather_melt = pd.melt(weather, id_vars=['id','year','month','element'],
    var_name='day', value_name='temp')
print(weather_melt.head())

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [164]:
#이제 pivot_table메서드를 사용할 차례이다.
#pivot_table메서드는 행과 열의 위치를 다시 바꿔 정리해 준다. 
#index인자에는 위치를 그대로 유지할 열 이름을 지정하고,
#columns인자에는 피벗할 열 이름을 지정하고, values인자에는 새로운 열의
#데이터가 될 열 이름을 지정하면 된다. 
#다음은 pivot_table메서드로 행과 열의 위치를 다시 바꾼 것이다. 
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp'
)
print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [165]:
#앞에서 구한 데이터프레임의 인덱스를 reset_index메서드로 
#새로 지정한 것이다.
weather_tidy_flat = weather_tidy.reset_index()
print(weather_tidy_flat.head())

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4

In [166]:
#7-4 중복 데이터 처리하기 
#다음은 빌보드 차트 데이터를 불러온 것이다.
billboard = pd.read_csv('c:\\work\\billboard.csv')
billboard_long = pd.melt(billboard, id_vars=['year','artist','track',
    'time','date.entered'], var_name='week', value_name='rating')

print(billboard_long.shape)

(24092, 7)

In [167]:
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [168]:
#노래 제목이 Loser인 데이터만 따로 모아 살펴보면 중복 데이터가
#꽤 많다는 것을 알 수 있다. 예를 들어 가수(artist)는 고유한 값이기 
#때문에 따로 관리하는 것이 데이터의 일관성을 유지하는데 도움이 된다. 
print(billboard_long[billboard_long.track == 'Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [169]:
#중복 데이터를 가지고 있는 열은 year, artist, track, time, date이다. 
#이 열을 따로 모아 새로운 데이터프레임에 저장한다.
billboard_songs = billboard_long[['year','artist','track','time']]
print(billboard_songs.shape)

(24092, 4)

In [170]:
#그런 다음 drop_duplicats메서드로 데이터프레임의 중복 데이터를 제거한다
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

In [171]:
#중복을 제거한 데이터프레임에 다음과 같이 아이디(id)도 추가한다.
billboard_songs['id'] = range(len(billboard_songs))
print(billboard_songs.head(n=10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [172]:
#다음은 merge메서드를 사용해 노래 정보와 주간 순위 데이터를 합친 것이다.
billboard_ratings = billboard_long.merge(billboard_songs, 
    on=['year','artist','track','time'])
print(billboard_ratings.shape)

(24092, 8)

In [173]:
print(billboard_ratings.head())

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

In [174]:
#7-5 대용량 데이터 처리하기 
#뉴욕 택시 데이터 준비하기 
#뉴욕 택스 데이터는 13억 대의 뉴욕 택시에 대한 정보를 가지고 있다. 
#파일의 수도 140개나 된다.
import os 
import urllib.request

with open("c:\\work\\raw_data_urls.txt", "r") as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break 
        fn = url.split('/')[-1].strip()
        fp = os.path.join('', 'c:\\work\\', fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

c:\work\fhv_tripdata_2015-01.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv

c:\work\fhv_tripdata_2015-02.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv

c:\work\fhv_tripdata_2015-03.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv

c:\work\fhv_tripdata_2015-04.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv

c:\work\fhv_tripdata_2015-05.csv

In [175]:
#앞에서 만든 5개의 파일을 불러온다. 
import glob 
nyc_taxi_data = glob.glob("c:\\work\\fhv_*")
print(nyc_taxi_data)

['c:\\work\\fhv_tripdata_2015-01.csv', 'c:\\work\\fhv_tripdata_2015-02.csv', 'c:\\work\\fhv_tripdata_2015-03.csv', 'c:\\work\\fhv_tripdata_2015-04.csv', 'c:\\work\\fhv_tripdata_2015-05.csv']

In [176]:
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

In [177]:
print(taxi1.head(n=2))
print(taxi2.head(n=2))
print(taxi3.head(n=2))
print(taxi4.head(n=2))
print(taxi5.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN

In [178]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

In [179]:
#이제 데이터처리를 위해 각 데이터프레임을 연결한다. 
taxi = pd.concat([taxi1,taxi2,taxi3,taxi4,taxi5])
print(taxi.shape)

(17367717, 3)

In [180]:
#반복문으로 동일한 데이터를 얻어오기
list_taxi_df = []

for csv_filename in nyc_taxi_data:
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)

print(len(list_taxi_df))

print(type(list_taxi_df[0]))

print(list_taxi_df[0].head())

taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

print(taxi.equals(taxi_loop_concat))

5
<class 'pandas.core.frame.DataFrame'>
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN
(17367717, 3)
True